<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Ascii Art WEB</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="container">
      <center>
        <h5>
          <p>
            First use fill up the form without choosing download format , and
            output text will be displayed.
          </p>
          <p>
            Then fill up form one more time while choosing txt format to
            download file
          </p>
        </h5>
      </center>
      <form action="/" method="POST">
        <div class="form-group">
          <label for="bannerSelectControl">Choose Banner</label>
          <select class="form-control" name="bannerSelectControl">
            <option value="" selected hidden>Choose Banner</option>
            <option value="standard.txt">standard</option>
            <option value="shadow.txt">shadow</option>
            <option value="thinkertoy.txt">thinkertoy</option>
            <option value="test.txt">test</option>
            <option value="unknown.txt">unknown</option>
          </select>
        </div>

        <div class="form-group">
          <label for="inputText">Input Text</label>
          <textarea
            class="form-control"
            name="inputText"
            rows="1"
            autocomplete="off"
          ></textarea>
        </div>

        <label for="inputText">Choose Download Format</label>
        <select class="form-control" name="exportFormat">
          <option value="" selected hidden>Export Format</option>
          <option value="pdf">pdf</option>
          <option value="txt">txt</option>
        </select>
        <br />
        <input type="submit" value="Submit" />
      </form>
      {{ if .HasOutput }}
      <div style="background-color: lightgrey;">
        <pre>{{ .OutputText }}</pre>
      </div>
      {{ end }}
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
