{{ define "index"}}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Ascii Art Web</title>
    <link rel="stylesheet" href="assets/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="assets/img/favicon.ico" />
</head>

<body class="body">
    <div class="container">
        <h1 class="title">Ascii Art Web</h1>
        <form action="/" method="POST" class="form">
            <div class="select">
                <div class="font-wrapper">
                    <label class="select_font" for="font">Font:</label>
                    <select name="font" id="font">
                        <option value="standard" selected>Standard</option>
                        <option value="shadow">Shadow</option>
                        <option value="thinkertoy">Thinkertoy</option>
                        <option value="graffiti">Graffiti</option>
                    </select>
                </div>
                <div class="color-wrapper">
                    <label class="select_color" for="color">Color:</label>
                    <input type="color" name="color" value="#ffffff">
                </div>
                <div class="output-wrapper">
                    <label for="select_output_format">Output format:</label>
                    <select name="output_format" id="output_format">
                        <option value="none">none</option>
                        <option value="txt">txt</option>
                    </select>
                </div>
            </div>
            <textarea class="textarea" name="text" id="text" cols="100" rows="10" minlength="1" placeholder="Only english text"></textarea>
            <input type="submit" value="Submit">
        </form>
        <pre class="output" style="color:{{ .Color }};">{{ if .HasOutput }}{{ .Text }}{{ end }}</pre>
    </div>
</body>

</html>

{{ end }}