<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Output</title>
    <link rel="stylesheet" href="assets/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">

</head>

<body>
    
    <div class="container">
        <h1 class="title">Ascii Art</h1>
        <pre class="output">
            
        </pre>
        <a href="/" class="back">Back</a>
    </div>

</body>

</html>